apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: otel-collector
  namespace: observability
  labels:
    app: otel-collector
    release: observability
spec:
  selector:
    matchLabels:
      app: otel-collector
  endpoints:
    - port: prometheus
      interval: 30s
      path: /metrics
