name: Stock-Mgmt Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore
      
      - name: Install dotnet format
        run: dotnet tool install -g dotnet-format
        
      - name: Add dotnet format to PATH
        run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH
      
      - name: Format Check
        run: dotnet format --verify-no-changes

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Test
        run: dotnet test --no-build --configuration Release --verbosity normal